## Dataframe and Spark SQL

There are two ways of create Spark Dataframes
1. Create from an existing RDD
2. Create from other data sources

Creating DataFrames from Existing RDD:
1. Infer schema by Reflection
      - Convert RDD containing case classes.
      - Use when schema is known.
2. Construct schema programmatically
      - Schema is dynamic
      - Number of fields in case class is more than 22 fields.

#### Inferring the Schema Using Reflection

In [4]:
from pyspark.sql import SQLContext, Row 
sqlContext = SQLContext(sc) 

# Load a text file and convert each line to a Row.
lines = sc.textFile("file:/datasets/crime_incidents.csv") 
parts = lines.map(lambda l: l.split(",")) 
crime = parts.map(lambda p: Row(IncidntNum=p[0], Category =p[1], Descript=p[2], day=p[3],date=p[4],time=p[5],district=p[6],resolution=p[7],address=p[8],X=p[9],Y=p[10],location=p[11]))

# Infer the schema, and register the DataFrame as a table.
schemaCrime = sqlContext.createDataFrame(crime) 
schemaCrime.registerTempTable("incidents")

# SQL can be run over DataFrames that have been registered as a table.
teenagers = sqlContext.sql("SELECT * from incidents") 
teenagers.show()

+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+------------------+--------------+--------------------+
|            Category|            Descript|IncidntNum|                   X|                   Y|             address|                date|                 day|  district|          location|    resolution|                time|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+------------------+--------------+--------------------+
|            Category|            Descript|IncidntNum|                   X|                   Y|             Address|                Date|           DayOfWeek|PdDistrict|          Location|    Resolution|                Time|
|             ASSAULT|             BATTERY| 050436712|   -122.435002864271|    37.7608878061245| 18TH ST / CASTRO ST|04/20/2005 12:00:...|           Wednesday|   MISSION|"(37.7608878061245|          NONE|               04:00|
|       LARCENY/THEFT|GRAND THEFT FROM ...| 080049078|   -122.446837820235|    37.7622550270122|1100 Block of CLA...|01/13/2008 12:00:...|              Sunday|      PARK|"(37.7622550270122|          NONE|               18:00|
|             ASSAULT|AGGRAVATED ASSAUL...| 130366639|0 Block of SGTJOH...|   -122.444707063455|             BOOKED"|05/05/2013 12:00:...|              Sunday| INGLESIDE|  37.7249307267936|       "ARREST|               04:10|
|DRIVING UNDER THE...|DRIVING WHILE UND...| 030810835|  MASON ST / TURK ST|   -122.408953598286|             BOOKED"|07/08/2003 12:00:...|             Tuesday|  SOUTHERN|  37.7832878735491|       "ARREST|               01:00|
|      OTHER OFFENSES|TRAFFIC VIOLATION...| 130839567|TURK ST / LEAVENW...|   -122.414056291891|             BOOKED"|10/04/2013 12:00:...|              Friday|TENDERLOIN|  37.7827931071006|       "ARREST|               20:53|
|            BURGLARY|"BURGLARY OF APAR...| 070838580|3100 Block of FRA...|   -122.426730544229|                NONE|             Tuesday|     UNLAWFUL ENTRY"|     07:00|  37.8034674969672|      NORTHERN|08/14/2007 12:00:...|
|       DRUG/NARCOTIC|POSSESSION OF MAR...| 080233102|MISSION ST / PERS...|    -122.43597721703|              CITED"|03/04/2008 12:00:...|             Tuesday| INGLESIDE|  37.7231288306727|       "ARREST|               14:23|
|      OTHER OFFENSES|    "DRIVERS LICENSE| 060711805|              CITED"|2300 Block of SAN...|             "ARREST|           Wednesday| SUSPENDED OR REV...|     15:50| -122.447241159611|     INGLESIDE|07/05/2006 12:00:...|
|       LARCENY/THEFT|GRAND THEFT FROM ...| 040062593|   -122.432787775164|    37.7371566745272|0 Block of MOFFIT...|12/10/2003 12:00:...|           Wednesday| INGLESIDE|"(37.7371566745272|          NONE|               09:30|
|        NON-CRIMINAL|"STAY AWAY OR COU...| 110051822|600 Block of CAMP...|   -122.408761072232|                NONE|              Monday|     NON-DV RELATED"|     15:35|  37.7159000951041|     INGLESIDE|01/17/2011 12:00:...|
|       LARCENY/THEFT|GRAND THEFT FROM ...| 060027038|   -122.420815202607|    37.7872360476925|100 Block of HEML...|01/07/2006 12:00:...|            Saturday|  NORTHERN|"(37.7872360476925|          NONE|               22:00|
|       LARCENY/THEFT| PETTY THEFT BICYCLE| 110929398|   -122.416014728293|    37.7555464259209|3000 Block of 22N...|11/13/2011 12:00:...|              Sunday|   MISSION|"(37.7555464259209|          NONE|               18:00|
|       "SEX OFFENSES|           FORCIBLE"| 140196921|600 Block of LOND...|    -122.43792838007|COMPLAINANT REFUS...|              Monday|ASSAULT TO RAPE W...|     14:30|  37.7193276406568|     INGLESIDE|02/17/2014 12:00:...|
|      SUSPICIOUS OCC|INVESTIGATIVE DET...| 120287716|   -122.421228786449|    37.7452607746654|0 Block of TIFFAN...|04/11/2012 12:00:...|           Wednesday| INGLESIDE|"(37.7452607746654|NOT PROSECUTED|               15:10|
|       VEHICLE THEFT|        STOLEN TRUCK| 031026982|   -122.502601064109|    37.7356121084835|2600 Block of SLO...|08/30/2003 12:00:...|            Saturday|   TARAVAL|"(37.7356121084835|          NONE|               11:00|
|        NON-CRIMINAL|       LOST PROPERTY| 130287706|   -122.422253299565|    37.7940917260344|1600 Block of JAC...|04/08/2013 12:00:...|              Monday|  NORTHERN|"(37.7940917260344|          NONE|               15:15|
|       LARCENY/THEFT|GRAND THEFT FROM ...| 096043222|   -122.508797223682|    37.7562590463517|1600 Block of GRE...|06/16/2009 12:00:...|             Tuesday|   TARAVAL|"(37.7562590463517|          NONE|               22:00|
|       LARCENY/THEFT|GRAND THEFT FROM ...| 060435237|   -122.420131938772|    37.7465750465073|TIFFANY AV / DUNC...|04/23/2006 12:00:...|              Sunday| INGLESIDE|"(37.7465750465073|          NONE|               21:00|
|      OTHER OFFENSES|          CONSPIRACY| 140902790|MISSION ST / 20TH ST|   -122.419052694349|             BOOKED"|10/25/2014 12:00:...|            Saturday|   MISSION|  37.7586324051562|       "ARREST|               00:01|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+------------------+--------------+--------------------+
only showing top 20 rows

In [8]:
#teenNames = teenagers.map(lambda p: "Name: " + p.name) 
#for teenName in teenNames.collect(): 
    #print(teenName)

#### Programmatically Specifying the Schema

A DataFrame can be created programmatically with three steps.
- Create an RDD of tuples or lists from the original RDD;
- Create the schema represented by a StructType matching the structure of tuples or lists in the RDD created in the step 1.
- Apply the schema to the RDD via createDataFrame method provided by SQLContext

In [10]:
# Load a text file and convert each line to a tuple.
lines = sc.textFile("file:/datasets/people.txt")
parts = lines.map(lambda l: l.split(","))
people = parts.map(lambda p: (p[0], p[1].strip()))

# The schema is encoded in a string.
schemaString = "name age" 
from pyspark.sql.types import * 
fields = [StructField(field_name, StringType(), True) 
for field_name in schemaString.split()] 
schema = StructType(fields)

# Apply the schema to the RDD and dataframe is created
schemaPeople = sqlContext.createDataFrame(people, schema)

# Print the schema in a tree format
schemaPeople.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [11]:
# Print the rows of the dataframe
schemaPeople.show()

+-------+---+
|   name|age|
+-------+---+
|Michael| 29|
|   Andy| 30|
| Justin| 19|
+-------+---+

In [12]:
# Register the DataFrame as a table.
schemaPeople.registerTempTable("people")

In [13]:
# SQL can be run over DataFrames that have been registered as a table.
results = sqlContext.sql("SELECT name FROM people") 
results.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+