In [3]:
# import pyspark class Row from module sql
from pyspark.sql import *

In [4]:
# Create the Departments data
department1 = Row(id='123456', name='Computer Science') 
department2 = Row(id='789012', name='Mechanical Engineering') 
department3 = Row(id='345678', name='Theater and Drama') 
department4 = Row(id='901234', name='Indoor Recreation')

In [5]:
# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)

In [6]:
# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4]) 
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4]) 
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3]) 
print department1 
print employee2 
print departmentWithEmployees1.employees[0].email

Row(id='123456', name='Computer Science')
Row(firstName='xiangrui', lastName='meng', email='no-reply@stanford.edu', salary=120000)
no-reply@berkeley.edu

In [7]:
# Create the first DataFrame from a list of the rows
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2] 
df1 = sqlContext.createDataFrame(departmentsWithEmployeesSeq1)
df1.show()

+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|[123456,Computer ...|[[michael,armbrus...|
|[789012,Mechanica...|[[matei,null,no-r...|
+--------------------+--------------------+

In [8]:
# Create a second DataFrame from a list of rows.
departmentsWithEmployeesSeq2 = [departmentWithEmployees3, departmentWithEmployees4] 
df2 = sqlContext.createDataFrame(departmentsWithEmployeesSeq2) 
df2.show()

+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|[345678,Theater a...|[[michael,armbrus...|
|[901234,Indoor Re...|[[xiangrui,meng,n...|
+--------------------+--------------------+

In [9]:
# Union of two DataFrames
unionDF = df1.unionAll(df2)
unionDF.show()

+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|[123456,Computer ...|[[michael,armbrus...|
|[789012,Mechanica...|[[matei,null,no-r...|
|[345678,Theater a...|[[michael,armbrus...|
|[901234,Indoor Re...|[[xiangrui,meng,n...|
+--------------------+--------------------+

In [ ]:
# Write the Unioned DataFrame to a Parquet file.
#dbutils.fs.help()
#dbutils.fs.rm("file:/home/cloudera/datasets/unionParq", True) 
#unionDF.rdd.saveAsTextFile("file:/home/cloudera/datasets/unionParq")